<?xml version="1.0"?>
<launch>
  <!-- Load all parameters -->
  <param name="waypoint_file" value ="$(find pid_lon_mpc_lat)/data/straight_circle.csv"/>
  <!-- Launch the learning MPC -->
  <node pkg="pid_lon_mpc_lat" name="vehicle_simulator" type="vehicle_simulator" output="screen">
  </node>

</launch>
